#name{
    color:white;
    background:blue;
    text-align: center;
}

.page{
    color: white;
    background: blue;
    display: inline-block;
    padding-left: 200px;
    padding-right: 200px;
}

.link{
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
    display: inline-block;
}

#project{
    display: none;
}

#about{
    display: none;
}

#resume{
    display: none;
}

.container{
    text-align: center;
}
/*source for display css help: https://stackoverflow.com/questions/4980525/css-center-display-inline-block*/