/*Css tutorial provided by Easy Tutorials: https://www.youtube.com/watch?v=zxfhf-V4JFQ*/
*{
    margin: 0;
    padding: 0;
    font-family: "Verdana", serif;
}

html {
    font-size: 16x;
}

.main {
    width: 100%;
    height: 100vh; /*vh = viewport height*/
    position: relative;
    overflow: hidden;
    background: #4f4f4f;
}

nav {
    width: 90%;
    min-height: 5vh;
    max-height: 10vh;
    margin: 1.1vh auto; /*first element top anbd bottom, second is right and left*/
    font-weight: bold;
    position: sticky;
    z-index: 1;
    align-items: end;
    display: flex;
}

.title button {
    background: none;
    border: none;
    color: white;
    font-size: calc(0.5vw + 1.25rem);
    font-weight: inherit;
}

.page-links {
    flex: 1;
    text-align: right;
}

.page-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0vh 1.1vw;
}

.page-links ul li a {
    color: white;
    font-size: calc(0.5vw + 0.5rem);
    text-decoration: none;
}

.information {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow-y: scroll;
    background-color: white;
}

/*https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll user hristo eftimov*/
.information::-webkit-scrollbar {
    display: none;
}

/*https://stackoverflow.com/questions/55408527/how-to-order-the-flexbox-direction-vertically user Patriciu Nista*/
.home_page {
    background: lightblue;
    position: static;
    width: 100%;
    height: inherit;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home_page p {
    color: white;
    font-weight: bold;
    text-align: center;
}

/*https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block user josh corzier*/
.about_page {
    background: #4f4f4f;
    position: static;
    width: 100%;
    height: inherit;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about_page p {
    color: white;
    /*font-size: 1.5rem;*/
    font-size: calc(1vw + 0.8vh);
    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
    overflow: hidden;
}

.project_page {
    background: #fffaf1;
    position: static;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.project_header {
    color: inherit;
    width: inherit;
    height: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.375vw;
}

.project {
    display: flex;
    flex-flow: row;
    width: 90%;
    height: auto;
    align-items: top;
    justify-content: space-evenly;
    padding-bottom: 2.75vw;
}

.project p {
    font-size: 1rem;
    color: inherit;
    text-align: left;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-width: 50%;
}

.project iframe {
    min-height: 40vh;
    min-width: 30vw;
    max-height: 40vh;
    max-width: 40vw;
    width: 40%;
    height: 50%;
}


/*https://stackoverflow.com/questions/6243070/css-text-align-center-is-not-centering-things user DanKodi*/
.resume_page {
    background: #4f4f4f;
    width: 100%;
    height: inherit;
    position: static;
    text-align: center;
}

.resume_page p {
    font-size: calc(1vw + 1.5rem);
    color: white;
    font-weight: bold;
}

.resume_page a {
    font-size: calc(1vw + 0.25rem);
    color: white;
}

.external_links {
    flex: 1;
    text-align: center;
}

.external_links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 2.75vw;
}

.external_links ul li a {
    color: white;
    font-size: calc(0.5vw + 0.5rem);
    text-decoration: none;
}